/* Загальні стилі для сторінки */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Контейнер форми (реєстрація/логін) */
.form-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: 0 auto;
}

/* Контейнери для реєстрації та логіну */
.registration-container,
.login-container {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
}

/* Заголовки для форм */
.registration-container h2,
.login-container h2 {
    color: #333;
    margin-bottom: 20px;
}

/* Поля введення */
.registration-container input,
.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

select[name="fraction"] {
    /* Ваші стилі тут */
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Кнопки для форм */
button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Стилі для кнопок */
.registration-container button,
.login-container button,
.castle-btn button,
.task-btn button,
.logout-btn button {
    background-color: #4caf50;
    color: white;
}

button:hover {
    background-color: #45a049;
}


/* #######################################################################################################*/

/*START*****Характеристики персонажа*/
.character-attributes {
    float: right;
    margin-right: 20px;
    text-align: right;
}

.character-attributes h3 {
    text-align: right;
}

.attribute-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 5px;
}

.character-attributes p {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.character-attributes button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 3px;
    padding: 0;
}

.character-attributes button:hover {
    background-color: #b35e18; /* Темніший зелений */
}

/*END*****Характеристики персонажа*/

.avatar {
    position: relative;
    display: inline-block;
    text-align: center;
}

.avatar-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.avatar-caption {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    font-weight: bold;
}

/* Стилі для ресурсів персонажа */
.character-container {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 20px;
    width: 70%;
    max-width: 900px;
    font-family: 'Georgia', serif;
    border: 1px solid #d3c7b3;  /* Легкий контур для стилю старої книжки */
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Old_book_paper_texture.jpg/1280px-Old_book_paper_texture.jpg'); /* Текстура книжкового паперу */
    background-size: cover;
    background-repeat: no-repeat;
}

.character-resources {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #3b2f2a;
}

.resource {
    padding: 10px;
    border-radius: 5px;
    background-color: #fff8e1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.resource-icon,
.exp-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* Стилі для шкали досвіду */
.character-level-experience {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #3b2f2a;
}

.experience-bar {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #d6b37a;
    border-radius: 10px;
    margin-top: 5px;
    overflow: hidden;
}

.experience-filled {
    height: 100%;
    background-color: #8a4b31;
    transition: width 0.5s ease;
}

.experience-text {
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    line-height: 20px;
}

.max-lvl-text {
    margin-top: 10px;
    font-size: 16px;
    color: #555; /* Змініть на бажаний колір */
    text-align: center;
}

/* Кнопка замку */
.castle-btn {
    margin-top: 30px;
    text-align: center;
}

.castle-btn button {
    padding: 12px 25px;
    font-size: 18px;
    background-color: #8a4b31;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.task-btn button {
    padding: 12px 25px;
    font-size: 18px;
    background-color: #a73a0b;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
    margin-bottom: 5px;


.castle-btn button:hover {
    background-color: #7b3e28;
}

/* Кнопка виходу */
.logout-btn {
    margin-top: 20px;
    text-align: center;
}

.logout-btn button {
    padding: 12px 25px;
    font-size: 18px;
    background-color: #d32f2f;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-btn button:hover {
    background-color: #c62828;
}

.castle-page-my-unit-list {
    margin-top: 50px;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.castle-page-my-unit-list h2 {
    margin-bottom: 15px;
}

.castle-page-my-unit-list ul {
    list-style-type: none; /* Видаляє стандартні маркери списку */
    padding-left: 0;
}

.castle-page-my-unit-list li {
    margin-bottom: 10px; 
    padding: 10px;
    /* background-color: #fff; */
    border: 1px solid #ddd;
    border-radius: 4px;
}

a[href="/character"] {
    display: inline-block;
    margin-top: 20px;
    color: #ff0000;
    text-decoration: none; /* remove underline from url */
    font-weight: bold;
}

a[href="/character"]:hover {
    text-decoration: underline; /* Підкреслення при наведенні */
}