fastapi==0.104.1
uvicorn==0.24.0
sqlalchemy==2.0.23
python-multipart==0.0.6
jinja2==3.1.2
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-dotenv==1.0.0
psycopg2-binary==2.9.9
alembic==1.12.1
anyio==3.7.1
starlette==0.27.0
pydantic==2.4.2
pydantic-core==2.10.1
typing-extensions==4.8.0
requests==2.31.0
pillow==10.0.0
bcrypt==4.0.1
annotated-types==0.7.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
colorlog==6.9.0
greenlet==3.1.1
h11==0.14.0
idna==3.10
MarkupSafe==3.0.2
sniffio==1.3.1
sniffio==1.3.1



# $ uvicorn backend.main:app --reload
# uvicorn backend.main:app --host 0.0.0.0 --port $PORT

# python -m "scripts.add_shop_items"