{% extends 'base.html' %}

{% block title %}Завдання{% endblock %}

{% block body %}
<div class="tasks-container">
    <h1>Завдання</h1>
    <ul class="task-list">
        {% for user_task in user_tasks %}
            <li class="task-item">
                <span class="task-title">{{ user_task.task.title }}</span>
                <span class="task-description">{{ user_task.task.description }}</span>
                <span class="task-level">Потрібний рівень: {{ user_task.task.level_required }}</span>
                <span class="task-status">
                    {% if user_task.is_completed %}
                        Виконано
                    {% else %}
                        Не виконано
                    {% endif %}
                </span>
                <span class="task-reward">Винагорода: 
                    {{ user_task.task.reward_gold }} золото, 
                    {{ user_task.task.reward_wood }} дерево, 
                    {{ user_task.task.reward_stone }} камінь, 
                    {{ user_task.task.reward_exp }} досвід 
                </span>
                {% if not user_task.is_completed %}
                <form action="/char_tasks/complete" method="post">
                    <input type="hidden" name="task_id" value="{{ user_task.task.id }}">
                    <button type="submit">Виконати</button>
                </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    {% if user.id == 1 %}
    <h2>Додати нове завдання</h2>
    <form action="/char_tasks/add" method="post">
        <label for="title">Назва завдання:</label>
        <input type="text" id="title" name="title" required>
        <br>
        <label for="description">Опис завдання:</label>
        <textarea id="description" name="description" required></textarea>
        <br>
        <label for="level_required">Потрібний рівень:</label>
        <input type="number" id="level_required" name="level_required" required>
        <br>
        <label for="reward">Нагорода:</label><br>
        <input type="number" id="reward_gold_input" name="reward_gold" value=0>
        <img src="../static/images/gold-resource-icon.png" alt="Gold Icon" class="resource-icon"><br>
        <input type="number" id="reward_wood_input" name="reward_wood" value=0>
        <img src="../static/images/wood-resource-icon.png" alt="Gold Icon" class="resource-icon"><br>
        <input type="number" id="reward_stone_input" name="reward_stone" value=0>
        <img src="../static/images/stone-resourse-icon.png" alt="Gold Icon" class="resource-icon"><br>
        <input type="number" id="reward_exp_input" name="reward_exp" value=0>
        <img src="../static/images/exp-icon.png" alt="Gold Icon" class="resource-icon"><br>

        <button type="submit">Додати завдання</button>
    </form>
    {% endif %}
<a href="/character">Повернутися до персонажа</a>
</div>

{% endblock %}
