{% extends 'base.html' %}

{% block title %}Увійти/Зареєструватись{% endblock %}

{% block body %}
<div class="form-container">
    <div class="registration-container">
        <h2>Реєстрація</h2>
        <form id="registerForm" method="POST" action="/register">
            <label for="username">Ім'я користувача:</label>
            <input type="text" name="username" required>

            <label for="password">Пароль:</label>
            <input type="password" name="password" required>

            <label for="fraction">Виберіть фракцію:</label>
            <select name="fraction" id="fraction" required>
                <option value="elfe">Elfe</option>
                <option value="darkElfe">Dark Elfe</option>
            </select>

            <button type="submit">Зареєструватися</button>
        </form>
    </div>

    <div class="login-container">
        <h2>Авторизація</h2>
        <form id="loginForm" method="POST" action="/login">
            <label for="username">Ім'я користувача:</label>
            <input type="text" name="username" required>

            <label for="password">Пароль:</label>
            <input type="password" name="password" required>

            <button type="submit">Увійти</button>
        </form>
    </div>
</div>

{% endblock %}





